<!-- include  header -->
<%- include('../includes/_header') %>
<!-- / include  header -->

<!-- include nav -->
<%- include('../includes/_nav') %>
<!-- / include nav -->

<section class="hero">
  <div class="container"><%- include('../includes/_hero') %></div>
</section>

<!-- include BODY -->
<%- body %>
<!-- /include BODY -->

<!-- include default footer -->
<%- include('../includes/_footer') %>
<!-- /include default footer -->
